---
title: CHIRAATH

pagination:
  data: collections.productsSorted
  size: 12
  alias: prods

permalink: "{% if pagination.pageNumber == 0 %}index.html{% else %}page/{{ pagination.pageNumber + 1 }}/index.html{% endif %}"
---

{% include "catalog.njk" %}