---
layout: base.njk
title: Salwars | CHIRAATH
description: Browse CHIRAATH Salwars collection. Order easily on WhatsApp.
pagination:
  data: collections.salwarsSorted
  size: 12
  alias: prods
permalink: "{% if pagination.pageNumber == 0 %}salwars/index.html{% else %}salwars/page/{{ pagination.pageNumber + 1 }}/index.html{% endif %}"
---

{% include "catalog.njk" %}