---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
eleventyComputed:
  contentType: "application/xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  <!-- Main pages first (helps Google understand site structure) -->
  <url>
    <loc>{{ site.url }}/</loc>
  </url>

  <url>
    <loc>{{ site.url }}/sarees/</loc>
  </url>

  <url>
    <loc>{{ site.url }}/salwars/</loc>
  </url>

  <!-- Product pages -->
  {% for p in collections.productsSorted %}
    {% if not p.data.hidden %}
    <url>
      <loc>{{ site.url }}{{ p.url }}</loc>
    </url>
    {% endif %}
  {% endfor %}

</urlset>